<table class="table table-striped table-responsive">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Edad</th>
            <th>Estado Civil</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Luis</td>
            <td>36</td>
            <td>Soltero</td>
        </tr>
        <tr>
            <td>Maria</td>
            <td>25</td>
            <td>Casada</td>
        </tr>
        <tr>
            <td>Alberto</td>
            <td>32</td>
            <td>Soltero</td>
        </tr>
    </tbody>
</table>